@theme {
  /* Screens / Breakpoints */
  --breakpoint-1280: 1280px;
  --breakpoint-1024: 1024px;
  --breakpoint-768: 768px;
  --breakpoint-600: 600px;
  --breakpoint-390: 390px;
  --breakpoint-400: 400px;
  --breakpoint-410: 410px;
  --breakpoint-430: 430px;
  --breakpoint-1440: 1440px;

  /* Font Families */
  --font-primary: "Open Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Colors */
  --color-primary-magenta: #EC008C;
  --color-primary-blue: #001A77;
  --color-primary-grey: #58595B;

  /* Magenta Scale */
  --color-magenta50: #FFF0FA;
  --color-magenta100: #FFE3F8;
  --color-magenta200: #FFC6F1;
  --color-magenta300: #FF98E4;
  --color-magenta400: #FF58D0;
  --color-magenta500: #FF27B9;
  --color-magenta600: #EC008C;
  --color-magenta700: #DF0078;
  --color-magenta800: #B80063;
  --color-magenta900: #980355;
  --color-magenta950: #5F002F;

  /* Blue Scale */
  --color-blue50: #F0F5FE;
  --color-blue100: #DCE8FD;
  --color-blue200: #C2D8FB;
  --color-blue300: #8BB8F8;
  --color-blue400: #77A1E6;
  --color-blue500: #638BD3;
  --color-blue600: #4F74C1;
  --color-blue700: #3C5EAE;
  --color-blue800: #28479C;
  --color-blue900: #143189;
  --color-blue950: #001A77;

  /* Grey Scale */
  --color-grey50: #F5F6F6;
  --color-grey100: #E6E7E7;
  --color-grey200: #D0D1D1;
  --color-grey300: #AFB0B1;
  --color-grey400: #86878A;
  --color-grey500: #6B6C6F;
  --color-grey600: #58595B;
  --color-grey700: #4E4F50;
  --color-grey800: #444446;
  --color-grey900: #3C3D3D;
  --color-grey950: #252527;
}
